.my-side-bar{
  text-align:center;
}

.side-bar-avatar{
  position: relative;
  display: inline-block;
  margin-top: 16px;
}
.side-bar-icon{
  margin:12px;
  display: inline-block;
  cursor: pointer;
}

.side-tool-bar {
  margin-top: 24px;
}